---
import SeparationLine from "../../../components/shared/SeparationLine.astro";
import ColorItem from "../../../components/pages/product/ColorItem.astro";
import { Colors } from "../../../models/Color";

interface Props {
  colors: Colors[];
}

const { colors } = Astro.props;
---

<div class="flex flex-col gap-3">
  <h3 class="text-gray-500">Colores disponibles</h3>
  <div class="flex gap-4">
    {colors.map((color) => <ColorItem color={color} />)}
  </div>
</div>
<SeparationLine />

