---
import { ShopIcon } from "../icons/ShopIcon";
---

<header class="flex w-full px-10 py-6 items-center justify-between">
    <div class="flex items-center jus w-full">
        <h1 class="text-3xl font-bold">AIESEC.ST</h1>
        <nav class="hidden text-center">
            <ul class="flex gap-6">
                <li>Home</li>
                <li>Tienda</li>
                <li>Sobre Nosotros</li>
                <li>Contáctanos</li>
            </ul>
        </nav>
    </div>
    <div></div>
    <div class="flex justify-end">
        <ShopIcon />
    </div>
</header>
