---
import CategoryItem from "./CategoryItem.astro";
---

<section class="w-full px-6 py-8">
    <div class="bg-neutral-300 p-4 rounded-xl">
        <h2 class="text-center text-3xl font-bold">Encuentra tu identidad AIESEC</h2>

        <div class="grid grid-cols-1 my-3 gap-3 sm:grid-cols-3">
            <CategoryItem className="sm:col-span-2"/>
            <CategoryItem />
            <CategoryItem />
            <CategoryItem className="sm:col-span-2"/>
        </div>
    </div>
</section>
