---
import { Image } from "astro:assets";

import modeloImg from "../../../../public/model2.webp";
import ButtonLink from "../../shared/ButtonLink.astro";
---

<section
    class="w-full bg-gray-200 grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 md:px-10"
>
    <div
        class="px-4 py-4 w-full flex flex-col justify-center items-center gap-4 md:items-start md:px-0"
    >
        <h2 class="text-5xl pb-3 md:pb-0 lg:text-6xl xl:text-7xl">
            Encuentra tu identidad AIESEC
        </h2>
        <p class="text-gray-500 text-base pb-4 md:pb-0 lg:text-xl lg:mb-10">
            Apoyas nuestras iniciativas sociales y siente tu identidad AIESEC en
            nuestra tienda adquiriendo alguno de nuestros productos
        </p>

        <ButtonLink isPrincipal={true} text="Compra Ahora" href="/shop"/>
    </div>
    <div class="w-full flex justify-center shrink-0">
        <Image
            src={modeloImg}
            alt={"falgo"}
            class={" h-full w-[30rem] md:w-[40rem] object-cover"}
            loading={"eager"}
        />
    </div>
</section>
