---
import "@fontsource-variable/rubik";
---

<footer
    class="bg-gray-200 w-full px-8 py-10 grid grid-cols-2 gap-3 md:grid-cols-4"
>
    <div class="text-sm col-span-2 md:col-span-4">
        <h2 class="text-2xl mb-4">AIESEC.ST</h2>
        <p>Tenemos ropa para apoyar a la agrupación de jovenes talentos</p>
    </div>
    <div class="text-sm">
        <h3 class="text-lg mb-4">Compañia</h3>
        <ul class="flex flex-col gap-4 [&>li]:text-gray-500">
            <li>Sobre Nosotros</li>
            <li>Características</li>
            <li>Trabajos</li>
            <li>Carrera</li>
        </ul>
    </div>
    <div class="text-sm">
        <h3 class="text-lg mb-4">FAQ</h3>
        <ul class="flex flex-col gap-4 [&>li]:text-gray-500">
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
        </ul>
    </div>
    <div class="text-sm">
        <h3 class="text-lg mb-4">FAQ</h3>
        <ul class="flex flex-col gap-4 [&>li]:text-gray-500">
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
        </ul>
    </div>
    <div class="text-sm">
        <h3 class="text-lg mb-4">FAQ</h3>
        <ul class="flex flex-col gap-4 [&>li]:text-gray-500">
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
            <li>Sobre Nosotros</li>
        </ul>
    </div>
    <div class="w-full my-4 py-[1px] col-span-2 md:col-span-4">
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>
    <div class="flex flex-col gap-1 text-sm col-span-2 md:col-span-4">
        <span>Copyright © 2023 AIESEC.ST</span>
        <span>Página creada por Cristian Esquivel</span>
    </div>
</footer>

<style>
    a,
    p,
    h3,
    li {
        font-family: "Rubik Variable", sans-serif;
    }
</style>
